div{
    align-content: center;
    text-align: center;
    justify-content: center;
    margin:50px 30px 20px;     
   }

   div .Clock{
    align-content: center;
    text-align: center;
    justify-content: center; 

  }


select{
    align-content: center;
    text-align: center;
    justify-content: center; 
}

input{
  width: 10vw;
}
